/* Otp.module.css */

.main {
  display: flex;
  flex-direction: column; /* Ensure the heading and form stack vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/quizImg/quiz-header.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.heading {
  text-align: center;
  font-family: "Inika", sans-serif, bold;
  font-size: 3rem;
  font-weight: bolder;
  background-image: linear-gradient(90deg, #ff8a00, #da1b60);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px; /* Space between the heading and the form */
}

.formDiv {
  background-color: rgba(65, 159, 211, 0.7);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h6 {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

.label {
  color: #fff;
}

.otpInput {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.errorMessage {
  color: #e74c3c;
  font-size: 12px;
}

.successMessage {
  color: #2ecc71;
  font-size: 14px;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn button:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}

.btn button:hover:not(:disabled) {
  background-color: #0056b3;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .formDiv {
    padding: 20px;
    max-width: 350px;
  }

  .heading {
    font-size: 2.5rem;
  }

  .input {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .btn button {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .formDiv {
    padding: 20px;
    max-width: 300px;
  }

  .heading {
    font-size: 2rem;
  }

  h6 {
    font-size: 12px;
  }

  .input {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .btn button {
    font-size: 12px;
  }
}
